<%- include('./partials/header.ejs') %>

<main>
    <h2>About</h2>
    <div class="about">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab ad, alias aliquam architecto assumenda aut beatae
        consectetur delectus earum est fuga harum illum libero minus nam nemo odit, quos sunt suscipit tempore totam
        voluptas voluptatum? Animi asperiores aspernatur, beatae dolorum esse excepturi facilis illo inventore libero
        natus recusandae reprehenderit, sequi similique sunt totam? Aliquam assumenda ipsa magnam nisi officia, quos
        tempora voluptate. Beatae ea, reiciendis. Accusantium architecto consequatur cupiditate deleniti eveniet
        excepturi facere facilis fuga iusto laudantium neque nobis, omnis optio perferendis possimus quasi repellat
        voluptates. Autem, beatae blanditiis facere, ipsam magnam minima, nostrum optio praesentium quo sint voluptatem.
    </div>
</main>

<%- include('./partials/footer.ejs') %>
